<pre>
  <% if can? :read, AppConfig.first %>
    <p>
      Yes you cancancan! This is how you can change who can see what easily.
      Abilities are set in the Ability model. app/models/ability.rb.
      They can then be read by `can?` anywhere.
      This works in conjunction with rollify to create 
    </p>
  <% end %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
</pre>
