<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h1 { text-align: center; }
h5 { text-align: center; }
p { text-align: center; }

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

.bl {
	color: mediumblue;
}
.bl:hover {
	background: #2196F3;
	color: white;
}

.go {
	color: gold;
}
.go:hover {
	background: #FFD700;
	color: white;
}


.block {
	display: block;
	width: 200px;
}

.margin-auto {
	margin: 0 auto;
}

</style>

<pre>
</pre>
<h1>TCNJ Shop Request</h1>
<p>TCNJ Shop Request is an application designed to allow individuals with food insecurities in the Ewing and Mercer County communities to order food while tracking certain nonharmful analytics.</p>

<button class="btn go block margin-auto">
	<%= link_to "Order Food", controller:"orderfood" %>
</button>

<pre>


</pre>
<h5>Commands for TCNJ Shop Employees Only</h5>
<button class="btn go block margin-auto">
	<%= link_to "View Orders", controller:"orderlist" %>
</button>

<button class="btn go block margin-auto">
	<%= link_to "View Graphs", controller:"graphs" %>
</button>

</body>
</html>




