<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h1 { text-align: center; }
h5 { text-align: center; }
p { text-align: center; }
h6 {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}

div.limit {
	position: relative;
	left: 100;
	width: 300;
	background-color: gold;
	padding: 10px;
	border: 5px solid: gray;
	margin: 0;
	border-radius: 9px;
}

div.limitInput {
	position: relative;
	left: 20px;
	width: 20;
	border: solid;
	background-color: inherit;
	padding: 1px 13px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 12px;
}

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

.submitLimit {
	position: relative;
	left: 35px;
	width: 90px;
	height: 37px;
	border: solid;
	background-color: inherit;
	padding: 1px 5px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 12px;
}

.bl {
	color: mediumblue;
}
.bl:hover {
	background: #2196F3;
	color: white;
}

.go {
	color: gold;
}
.go:hover {
	background: #FFD700;
	color: white;
}


.block {
	display: block;
	width: 200px;
}

.margin-auto {
	margin: 0 auto;
}

</style>

<pre>
</pre>
<h1>TCNJ Shop Request</h1>
<p>TCNJ Shop Request is an application designed to allow individuals with food insecurities in the Ewing and Mercer County communities to order food while tracking certain nonharmful analytics.</p>

<button class="btn go block margin-auto">
	<%= link_to "Order Food", controller:"orderfood" %>
</button>

<pre>


</pre>
<h5>Commands for TCNJ Shop Employees Only</h5>
<button class="btn go block margin-auto">
	<%= link_to "View Orders", controller:"orderlist" %>
</button>

<button class="btn go block margin-auto">
	<%= link_to "View Graphs", controller:"graphs" %>
</button>
<pre>

</pre>
<div class="limit">
	<h6>Enter a limit on the number of meals ordered per person per day:</h6>
	<div class="limitInput">
		<input id="limit" name="limit" type="number" value="10" min="1" max="99">
	</div>
	<button class="btn bl submitLimit">Submit</button>
</div>
<pre>





</pre>

</body>
</html>




