<html>
<body onload="displayCount()">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

h6 { 
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}
h5 {
	display: inline-block;
}

div.shopping-cart {
	display: inline-block;
}

div.food {
	position: relative;
	left: 100;
	width: 450;
	background-color: gold;
	padding: 10px;
	border: 5px solid: gray;
	margin: 0;
	border-radius: 9px;
}

div.count {
	position: relative;
	display: inline-block;
	font-size: 16px;
	float: right;
}		

.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

.clear {
	position: relative;
	display: inline-block;
	width: 10;
	height: 8;
	padding: 1px 13px;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

.order {
	position: relative;
	left: 250px;
}
.return {
	position: relative;
	left: 350px;
}

.plus {
	position: relative;
	right: 90px;
	width: 20;
	border: solid;
	background-color: inherit;
	padding: 1px 13px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 12px;
	float: right;
}

.minus {
	position: relative;
	width: 20;
	border: solid;
	background-color: inherit;
	padding: 1px 13px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	border-radius: 12px;
	float: right;
}

.bl {
	color: mediumblue;
}
.bl:hover {
	background: #2196F3;
	color: white;
}

.go {
	color: gold;
}
.go:hover {
	background: #2196F3;
	color: white;
}

.gon {
	color: gold;
}
.gon:hover {
	color: orange;
}

</style>


<h2>Place your order here!</h2>

<!-- Food bar for fish -->
<div class="food">
	<h6>Frozen Fish</h6>
	<button class="btn bl plus" onclick="addElement('Frozen Fish');displayList();displayCount();">+</button>
	<!-- Update count and list every time you remove a fish -->
	<button class="btn bl minus" onclick="removeElement('Frozen Fish');displayList();displayCount();">-</button>
</div>
<pre>
</pre>

<!-- Food bar for chicken -->
<div class="food">
	<h6>Frozen Chicken</h6>
	<!-- Update count and list every time you add a chicken -->
	<button class="btn bl plus" onclick="addElement('Frozen Chicken');displayList();displayCount();">+</button>
	<!-- Update count and list every time you remove a chicken -->
	<button class="btn bl minus" onclick="removeElement('Frozen Chicken');displayList();displayCount();">-</button>
</div>

<pre>

</pre>


<!-- Enter time/date of pickup -->
<%= form_with do |form| %>
	<label for="pickuptime">Pickup (date and time): </label>
	<%= form.datetime_local_field :pickuptime %>
<pre>
</pre>

<!-- Shopping Cart -->
<h5>Shopping Cart</h5>
<div class="count" id="counter"></div>
<button class="btn gon clear" onclick="clearOrders();displayList();displayCount();">Clear</button>
<div id="shoppingCart"></div>
<pre>


</pre>

<!-- Order food with this button -->
<button class="btn bl order" onclick="confirmOrder()">
	<%= link_to "Order", controller:"orderfood" %>
</button>

<!-- Return to home with this button -->
<button class="btn bl return">
	<%= link_to "Cancel", controller:"home" %>
</button>
<pre>

</pre>
<script>
	var orderList = [];
	var orderNum = 0;
	var limit = 10;
	// Function for confirming that the user wants to order what they selected.
	function confirmOrder() {
		if (orderNum != 0) {
			var r = confirm("Are you sure you want to place this order?");
		} else {
			confirm("Please enter a valid number of orders.");
		}
	}
	// Function for emptying the shopping cart
	function clearOrders() {
		orderList = [];
		orderNum = 0;
	}
	// Adds a specified element to the shopping cart
	function addElement(elem) {
		if (orderNum < limit) {
			orderList.push(elem);
			orderNum = orderNum + 1;
		}
	}
	// Removes the first spotted specified element from the shopping cart
	function removeElement(elem) {
		var index = orderList.indexOf(elem);
		var found = false;
		if (index > -1) {
			orderList.splice(index, 1);
			found = true;
		}	
		if (orderNum >= 1 && found == true) {
			orderNum = orderNum - 1;
		}
	}	
	// Displays the list in the shopping cart block
	function displayList() {
		var nHTML = '';
		orderList.forEach(function(meal) {
			nHTML += '<li>' + meal + '</li>';
		});
		document.getElementById('shoppingCart').innerHTML = '<ul>' + nHTML + '</ul>';
	}
	// Displays the shopping cart's count
	function displayCount() {
		document.getElementById('counter').innerHTML = '(' + orderNum + '/' + limit + ')';
	}
</script>

<% end %>

</body>
</html>
